broadcastify:
  cookies:
    __eoi: ID=9f9b60dda300fd4a:T=1752367162:RT=1752422005:S=AA-AfjajqUJrA7pwWPqPL12A-AvA
    __gads: ID=884ba53841880b5e:T=1752367162:RT=1752422005:S=ALNI_MaRulqKp47tdKTEpnzrAstFVxLpTA
    __gpi: UID=000010f9ec32c4f3:T=1752367162:RT=1752422005:S=ALNI_MZiCqdin9opKYDjSGnmJAt83PauWw
    _awl: 2.1752422014.5-3adb15ba15239c85a214f70740d86328-6763652d75732d63656e7472616c31-0
  headers:
    Accept: '*/*'
    Accept-Language: en-US,en;q=0.9
    Content-Type: application/x-www-form-urlencoded; charset=UTF-8
    Origin: https://www.broadcastify.com
    Referer: https://www.broadcastify.com/calls/playlists/?uuid=1e4cdc91-c420-11ee-a225-0e676e2c8629
    User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64)...
    X-Requested-With: XMLHttpRequest
  last_pos: 0
  playlist_uuid: 1e4cdc91-c420-11ee-a225-0e676e2c8629
  poll_interval_seconds: 3
  sessionKey: 5fc76996-bb98
  url: https://www.broadcastify.com/calls/apis/live-calls
data:
  audio_dir: data/audio
  delete_audio_after_transcribe: true
  seen_calls_file: data/seen_calls.txt
  transcript_dir: data/transcripts
keywords:
  case_sensitive: false
  file: keywords.txt
  min_hits: 1
logging:
  console: true
  level: Debug
  logfile: data/logs/scanner.log
signal:
  from_number: '+14699966521'
  message_template: '[Police Scanner]

    Keyword(s): {keywords}

    Call ID: {call_id}

    Transcript:

    {transcript}

    '
  recipients:
  - '+14252390792'
  signal_cli_bin: /opt/scanner/signal-cli/build/install/signal-cli/bin/signal-cli
whisper:
  device: cpu
  language: en
  model: base
